:root{
    --color__white: rgba(255, 255, 255, 1);
    --color__dark-blue: rgba(0, 17, 36, 1) ;
    --color__blue: rgba(73, 159, 254, 1);
    font-size: 10px;
}
body{
    margin: 0 auto;
    min-width: 700px;
    max-width: 1200px;
    min-height: 100vh; 
    background-color: #E5E5E5;
}
div, p, h3{
    margin: 0;
    padding: 0;
}
/*Page Login*/
.page__container{
    width: 100%;
    background-color: var(--color__dark-blue);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20% 0 ;
    box-sizing: border-box;
}
.login__img{
    width: 50%;
}
.login__img > img{
    width: 100%;
}

.login__meny{
    width: 30%;
    margin-left: 5%;
    color: white;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 29px; 
}

.login__meny h3{
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 3;
    font-family: 'DM Serif Display';
}

.login__meny a{
    text-decoration: none;
    color: var(--color__blue);
}
.login__meny label{
    width: 100px;
    display: inline-block;
}

.login__meny input {
    width: 100%;
    height: 43px;
    margin-bottom: 10px; 
}

.login__meny button{
    width: 50%;
    height: 43px;
    color: var(--color__white);
    background-color: #015FC7;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 29px;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
}
.login__meny button:hover{
    transform: scale(1.1);
}

/*page Regictration*/
.registration_page{
    width: 100%;
    color: var(--color__white);
    background-color: var(--color__dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 ;
    box-sizing: border-box;
}

.registration__img{
    width: 45%;
}
.login__img > img{
    width: 100%;
}
.registration__form{
    width: 30%;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 29px; 
}
.registration__form h3{
    font-family: 'DM Serif Display';
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 3;
}

.registration__form input {
    width: 100%;
    height: 43px;
    margin-bottom: 10px; 
}
.button{
    
    text-align: center;
}

.registration__form button{
    width: 50%;
    height: 43px;
    background-color: #015FC7;
    color: var(--color__white);
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 29px;
    text-transform: uppercase;
    background: #015FC7;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.registration__form button:hover{
    transform: scale(1.1);
}

