:root{
    --color__black: #171717;
    --color__white:  #FFFFFF;
    --color__blue: #0050D8;
    --color__lightgrey: rgba(239, 239, 239, 1);
    --color__grey:  #747474;
    font-size: 16px;
}
body{
    margin: 0 auto 20px;
    min-width: 700px;
    max-width: 1200px; 
    min-height: 100vh;
    background-color:  #E5E5E5;
    font-family: 'Public Sans';
    color: var(--color__black);
    box-sizing: border-box;
}
div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
h3{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.background__color-grey{
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid rgba(173, 173, 173, 1);
    }

    .form{
        width: 100%;
        background-color: #F9F9F9;
        padding: 4% 4% 0;
        box-sizing: border-box;
    }
    h3{ 
        font-weight: 700;
        font-size: 1.25rem;
        margin: 32px 0;
        box-sizing: border-box;
    }
    
    label{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
    
    .big__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(209, 209, 209, 1);
        padding-bottom: 30px;
    }
    
    .big__container > div{
        width: 48%;
        margin: 8px 0;
    }
    span{
        color:rgba(216, 57, 51, 1);
    }
    
    :empty div{
        visibility: hidden;
    }
    
    select, input {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        border: 1px solid rgba(173, 173, 173, 1);
        border-radius: 5px;
        padding-left: 5px;
    }
    
    input::placeholder{
        color: var(--color__black);
    }
    input[type="checkbox"]{
        height: 24px;
        width: 24px;
        border-radius: 2px;
        margin-right: 5px;
        accent-color: rgba(255, 0, 255, 1);
    }
    .checkbox__container{
        display: flex;
        align-items: center;
    }
    
    .checkbox__container label{
            margin-top: 6px;
    }
    
    .text__center{
        text-align: center;
    }
    
    .galka {
        background-image: url(../img/img2.svg);
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .poshyk{
        background-image: url(../img/search-line.svg); 
        background-repeat: no-repeat;
        background-position: right;
    }
    
    
    #container1__el7::placeholder, #container4__el4::placeholder{
        color: var(--color__blue);
    }
    #container1__el2, #container1__el6{
        background-color: rgba(239, 239, 239, 1);
        border: 1px solid rgba(173, 173, 173, 1);
    }
    
    /*button*/
    .form__button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        
    }
    .form__button>button{
        width: 69px;
        padding: 9px 0;
        background: var(--color__blue);
        color: #FFFFFF;;
        font-size: 1rem;
        font-weight: 700; 
        text-align: center;
        border: 0;
        border-radius: 4px;
    }
    
    .color__grey::placeholder{
        color: var(--color__grey);
    }
    
    /*footer*/
    .footer__img{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end; 
    }
    .footer__img2{
        margin-top: 70px;
    }
    
    .footer__img>img{
        width: 4px;
        height: 4px;
    }
        